In [1]:
import pandas as pd
import numpy as np
import altair as alt

Adding the flights.csv into the dataframe flights

In [55]:
flights=pd.read_csv('DelayedFlights.csv')

Drop all the rows/ flight records with NaN values for error

In [56]:
flights=flights.dropna(axis=0,how='any',subset=['CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'])
flights['tdelay']=flights['CarrierDelay']+flights['WeatherDelay']+flights['NASDelay']+flights['SecurityDelay']+flights['LateAircraftDelay']

Drop all the columns which we don't plan to use.

In [57]:
columns=flights.columns
columnstodrop=columns[25:len(columns)-1]
flights=flights.drop(labels=columnstodrop,axis='columns')
print(flights.columns)
flights.head()

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'tdelay'],
      dtype='object')

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,tdelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,34.0,IND,BWI,515,3.0,10.0,0,N,0,34.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,67.0,IND,LAS,1591,3.0,7.0,0,N,0,57.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,94.0,IND,MCO,828,6.0,8.0,0,N,0,80.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,27.0,IND,PHX,1489,7.0,8.0,0,N,0,15.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,28.0,IND,TPA,838,4.0,9.0,0,N,0,16.0

Import cleaned data into a new csv

In [59]:
flights.to_csv(path_or_buf='cleanedflights.csv',mode='w')